<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
        <title>Coins, yo!</title>
    </head>
    <body>
        <div class='container'>
            <h1>How much change you got?</h1>

            <form action='coins_result'>
                <div class='form-group'>
                    <label for='cents'>$$$$$$$</label>
                    <input id='cents' name='cents' class='form-control' type='number'>
                </div>
                <button type='submit' class='btn-success'>Do it!</button>
            </form>
        </div>
    </body>
</html>
