<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
        <title>Time for Change</title>
    </head>
    <body>
        <div class='container'>
            <h1>We have slaved away to calculate just exactly the least amount of each standard American coin you will need to carry the requested amount of cents in your pocket(s).</h1>

            <ul>
                <li>Quarters: {{ results["quarters"] }}</li>
                <li>Dimes: {{ results["dimes"] }}</li>
                <li>Nickels: {{ results["nickels"] }}</li>
                <li>Pennies: {{ results["pennies"] }}</li>
            </ul>

            <div>
                <iframe width="420" height="315" src="https://www.youtube.com/embed/BOihG04mCjE?autoplay=1" frameborder="0" allowfullscreen></iframe>
            </div>

            <p>Brought to you by the 2008 Obama Campaign.</p>
        </div>
    </body>
</html>
